body {
    background-image: url("http://66.media.tumblr.com/468543512c7195eedbac0823262bb9b5/tumblr_nrikh40I5B1tm50y3o10_1280.jpg");
    background-size: cover;
}
#navbar{
	position: fixed;
	top:100px;
	left:50%;
	margin-left:-100px;
    background-color: #6DB4C7 ;
}