body {
    background-image: url("http://66.media.tumblr.com/468543512c7195eedbac0823262bb9b5/tumblr_nrikh40I5B1tm50y3o10_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
#navbar{
	position: fixed;
	top:100px;
	left:50%;
	margin-left:-100px;
    background-color: #6DB4C7 ;
}
nav:hover {
    background-color: azure;
}
.img1{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
#aboutcole1 {
    background-color: #6DB4C7;
    opacity: 0.9;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}
.img2{
    text-align: center;
    background-color: #6DB4C7;
    opacity: .9;
    border-style:none;
    border-bottom: 10px;
    border-left: 20px;
    border-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    
}
#aboutcole2 {
    background-color: #6DB4C7;
    opacity: 0.9;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    padding-top: 25px;
}
.img3{
    background-color: #6DB4C7;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    padding-top: 10px;
}
.img8{
    text-align: center;
}
.footer{
    margin-top: 20px;
    margin-bottom: 20px;
}