body {
    background-image: url("http://66.media.tumblr.com/468543512c7195eedbac0823262bb9b5/tumblr_nrikh40I5B1tm50y3o10_1280.jpg");
    background-size: cover;
}
#navbar{
	position: fixed;
	top:100px;
	left:50%;
	margin-left:-100px;
}
.banner {
    color: black;
    text-align: center;
    background-image: url("")
    background-color: 
}
#aboutcole1 {
    background-color: #6DB4C7;
    opacity: 0.9;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}
.img2{
    text-align: center;
}
#aboutcole2 {
    background-color: #6DB4C7;
    opacity: 0.9;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    padding-top: 25px;
}
.img8{
    text-align: center;
}